.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.button {
  width: 48%;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .buttons-container {
    margin-top: auto;
    width: 100%;
    justify-content: flex-end;
    padding: 0px;
    gap: 15px;
  }
  .button {
    width: 135px;
  }
}
