.superhero-list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 100%;
  max-width: 410px;
  background-color: #040404;
}

.superhero-list-item > a {
  padding: 8px;
  color: #f2f2f2;
  text-decoration: none;
}

.superhero-image {
  border-radius: 2px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 0.85;
}

.superhero-name {
  height: 70px;
  font-family: "Bangers";
  letter-spacing: 1.5px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}
